/* *{
    
} */

.home-user{
    background-color: #a7bdf3ce ;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

.header{
    background-color: #086dae;
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.header-open_nav_button{
    color: rgb(20, 20, 75);
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header-logo{
    max-width: 100%;
    width: 60px;
    /* margin: 10px 20px;  */
    margin-right: auto;
}

.header-checkbox{
    display: none;
}

.header-nav{
    display: none;
    background-color: #005488;
    position: absolute;
    height: 100vh;
    width: 30vw;
    top: 0;
    right : 0;
    z-index: -1;
}

.header-nav_list{
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header-checkbox:checked ~ .header-nav{ /*Si el checkbox está chequeado vamos a modificar al hermano*/
    display: flex;
} 

.header-nav_item{
    list-style: none;
}

.header-nav_item a{
    color: rgb(20, 20, 75);
}

.header-nav_item a:not(:hover, :active){
    text-decoration: underline;
} 

.header-busqueda {
    margin: 0 auto;
    height: 40px;
    width: 80%; 
    max-width: 500px; /*Límite máximo para evitar que crezca*/
    padding: 0 20px;
    border: 1px solid #ccc; 
    border-radius: 100px;
    justify-content: center;
}

.header-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    letter-spacing: 2px;
}

/* ------------------------------------------------------------------------------------- */

.categorias-contenedor {
    display: flex;
    background-color: #086dae;
    flex-wrap: wrap;
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 4rem; /* Espaciado entre las imágenes */
    padding: 10px;
}

.categorias-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espaciado entre las imágenes dentro del contenedor */
    width: 55%; /* Asegura que ocupe todo el ancho disponible */
}

.categoria {
    display: flex;
    flex-direction: column; /* Alinea la imagen y el texto en columna */
    align-items: center; /* Centra la imagen y el texto horizontalmente */
    text-align: center; /* Centra el texto */
}

.categorias-list img {
    width: 50px; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Ajusta el tamaño de las imágenes */
    object-fit: cover; /* Hace que la imagen se ajuste sin perder la proporción */
    border-radius: 8px; /* Redondea las esquinas si lo deseas */
    transition: transform 0.3s ease; /* Añade una transición suave al hacer hover */
}

/* Añadir efectos al hacer hover */
.categorias-list img:hover {
    transform: scale(1.1); /* Hace que la imagen crezca un poco al pasar el ratón */
}

.categoria-nombre {
    margin-top: 8px; /* Espacio entre la imagen y el texto */
    font-size: 12px; /* Ajusta el tamaño del texto */
    color: #fff; /* Color blanco para el texto */
    font-weight: bold; /* Puedes ponerlo en negrita si prefieres */
    text-transform: uppercase;
    text-decoration: none;
}




