<div class="product-list">
    <div class="product-card" *ngFor="let item of productos">
      <div class="product-image">
        <img [src]="item.imagen" alt="{{ item.producto }}" />
      </div>
      <div class="product-info">
        <h3>{{ item.producto }} - {{ item.marca }}</h3>
        <p class="product-description">{{ item.descripcion }}</p>
        <p class="product-price">
          <span class="new-price">{{ item.precio | currency }}</span>
        </p>
      </div>
    </div>
  </div>
  
  

<!-- <div class="productos-container">
    <div class="producto">
        @for (item of productos; track $index) {
            <h2>{{ item.producto }}</h2>
            <img [src]="item.imagen" alt="{{ item.producto }}" />
            <p>{{ item.descripcion }}</p>
            <p>Precio: ${{ item.precio }}</p>
            <p>Stock: {{ item.stock }}</p>  
        }
    </div>
  </div> -->
