.role-body{
  background-color: #6eb3df;
  height: 100%;
}
.role-selection {
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }