<!-- <div class="role-body"> -->
<div class="role-body" [style.backgroundImage]="'url(assets/images/SUPER.webp)'">
    <div class="role-selection">
        <div class="titulo">
            <h1>Supermercado Online</h1>
            <h1>Bienvenido</h1>
        </div>
        
        <div class="texto">
            <p>Seleccione su rol para continuar</p>
        </div>
        
        <div class="botones">
            <button (click)="seleccionarRol('User')">Usuario</button>
            <button (click)="seleccionarRol('Admin')">Administrador</button>
        </div>
        
    </div>
</div>

  