.carrito-pagina {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #e1f1fd;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.carrito-header{
  display: flex;
  margin: -20px -20px;  
  background-color: #086dae;
  padding: 5px 20px;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.carrito-header h1{
  padding-left: 50px;
  letter-spacing: 1.5px;
}

.carrito-header a{
  align-self: center;
  text-decoration: none;
  font-size: 35px;
  color: black;
}

.carrito-vacio{
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.carrito-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  /* margin-bottom: 10px; */
  /* margin-top: 25px; */
}

.carrito-imagen img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.info{
  display: flex;
  flex-direction: column;
}
.carrito-info {
  flex: 1;
  display: flex;
  flex-direction:row;
  margin-right: 60px;
  justify-content: space-between;
}

.carrito-nombre {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #333;
  font-size: 20px;
}

.carrito-prod-descripcion{
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.carrito-precio-unitario {
  color: green;
  margin: 5px 0 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 100px;
  margin-top: 15px;
}

.carrito-precio-total {
  color: #28a745;
  margin: 5px 0 0;
  font-size: 14px;
  font-weight: bolder;
}

.carrito-cantidad {
  display: flex;
  align-items: center;
}

.carrito-cantidad button { /*Son todos los botones: - / + o tachito*/
  color: white;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.carrito-cantidad-btn button{
  background-color: #007bff;
}

.carrito-cantidad-btn button:hover{
  background-color: #0a54a3;
}

.carrito-cantidad-btn span {
  font-size: 16px;
  margin: 0 5px;
  width: 20px;
  text-align: center;
}

.carrito-total {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
  text-align: right;
}

.vaciar-carrito-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 10px auto;
  width: 200px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}


.eliminar-producto-btn {
  background-color: #ff1900;
}

.eliminar-producto-btn:hover {
  background-color: #c71501;
}
