<div class="cart-container">
    <h2>Mi Carrito</h2>
    <div *ngIf="itemsCarrito.length === 0">El carrito está vacío.</div>
    <div *ngFor="let item of itemsCarrito" class="cart-item">
      <img [src]="item.imagen" alt="{{ item.producto }}" />
      <div class="item-info">
        <h3>{{ item.producto }} - {{ item.marca }}</h3>
        <p>Precio: {{ item.precio | currency }}</p>
        <p>Cantidad: {{ item.cantidad }}</p>
        <button (click)="removeItem(item.id!)">Eliminar</button>
      </div>
    </div>
    <button (click)="clearCart()">Vaciar Carrito</button>
  </div>
  