<div class="carrito-pagina">
  
  <div class="carrito-header">
    <a [routerLink]="['/user']">←</a>
    <h1>Carrito de compras</h1>
  </div>
  
  <div class="carrito-contenido">
    <h1 class="articulo">Artículo</h1>
    <div class="articulo-info">
      <h2>Precio</h2>
      <h2>Cantidad</h2>
      <h2>Subtotal</h2>
    </div>
  </div>

  <div *ngIf="items.length > 0">
    <div *ngFor="let item of items" class="carrito-item">

      <!-- Imagen del producto -->
      <!-- <div class="carrito-imagen">
        <img [src]="item.imagen" alt="{{ item.producto }}" />
      </div> -->

      <div class="eliminar-producto-btn">
        <button (click)="eliminarProducto(item.id!)">🗑️</button>
      </div>

      <!-- Información del producto -->
      <div class="carrito-info">
        <div class="info">
          <span class="carrito-nombre">{{ item.producto }} - {{item.marca}}</span>
          <span class="carrito-prod-descripcion">{{item.descripcion}}</span>
        </div>

        <!-- Modificación de cantidad -->
      <div class="carrito-cantidad">
        <span class="carrito-precio-unitario">{{ item.precio | currency }}</span>
        <div class="carrito-cantidad-btn">
           <button (click)="decrementarCantidad(item)">-</button>
            <span>{{ item.cantidad }}</span>
            <button (click)="incrementarCantidad(item)">+</button>
        </div>
        
        <span class="carrito-precio-total">{{ (item.precio! * item.cantidad!) | currency }}</span>
      </div>
      </div>


      
    </div>

    <!-- Total y botón para vaciar el carrito -->
    <p class="carrito-total">Total: {{ getTotal() | currency }}</p>
    <button (click)="vaciarCarrito()" class="vaciar-carrito-btn">Vaciar carrito</button>
    <button (click)="mostrarFormulario = true">Ir a pagar</button>
  </div>

  <div class="carrito-vacio" *ngIf="items.length == 0"> 
    <span>No hay productos en el carrito.</span>
  </div>

  <div *ngIf="mostrarFormulario" class="formulario-tarjeta">
    <h3>Datos de la Tarjeta</h3>
    <form (ngSubmit)="procesarPago()">
      <div>
        <label for="nombre">Nombre en la Tarjeta:</label>
        <input id="nombre" type="text" [(ngModel)]="datosTarjeta.nombre" name="nombre" required />
      </div>
      <div>
        <label for="numero">Número de Tarjeta:</label>
        <input id="numero" type="text" [(ngModel)]="datosTarjeta.numero" name="numero" required />
      </div>
      <div>
        <label for="fecha">Fecha de Vencimiento:</label>
        <input id="fecha" type="month" [(ngModel)]="datosTarjeta.fecha" name="fecha" required />
      </div>
      <div>
        <label for="cvv">CVV:</label>
        <input id="cvv" type="password" [(ngModel)]="datosTarjeta.cvv" name="cvv" required />
      </div>
      <button type="submit">Procesar Pago</button>
    </form>
  </div>
  <!-- <ng-template #carritoVacio class="carrito-vacio">
    <p>No hay productos en el carrito.</p>
  </ng-template> -->
</div>

