<div class="product-list">
    <div class="product-card" *ngFor="let item of productos">
      <div class="product-image">
        <img [src]="item.imagen" alt="{{ item.producto }}" />
      </div>
      <div class="product-info">
        <h3>{{ item.producto }} - {{ item.marca }}</h3>
        <p class="product-description">{{ item.descripcion }}</p>
        <p class="product-price">
          <span class="new-price">{{ item.precio | currency }}</span>
        </p>
      </div>
    </div>
  </div>
  
  

