/*
.list-productos{
    margin: 0 auto;
    width: 50%;
    height: 10cm;
    text-align: center;
}
*/

/* .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  } */

  .product-list{
    /*background-color: #a7bdf3ce; Fondo solo para lista de productos*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-top: 25vh;
  }
   
  .product-card {
    background-color: white;
    width: 180px;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    z-index: 1000; /*Le puse el z-index para que quede por encima asi me funcionan los botones de los productos */
}

.cantidad-seleccion {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.cantidad-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}

.cantidad-input {
    width: 40px;
    text-align: center;
}

.agregar-carrito-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 14px;
}


  .product-card:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
  
  .product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .product-info {
    font-size: 16px;
    margin: 8px 0;
    color: #333;
    padding: 10px 0;
  }
  
  .product-price {
    font-size: 14px;
    color: #4caf50;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 8px;
  }
  
  .new-price {
    font-weight: bold;
  }
  
  .acciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; /* Espacio entre el contador y el botón */
}

.cantidad-seleccion {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cantidad-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 3px;
    cursor: pointer;
    font-size: 16px;
}

.cantidad-input {
    width: 40px;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield; /*Puse esto para ocultar las flechas dentro del form para incremendar o decrementar la cant*/
}

.cantidad-input::-webkit-outer-spin-button,
.cantidad-input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Oculta las flechas en Chrome, Safari y Edge */
    margin: 0;
}

.agregar-carrito-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
}
